main {
    max-width: 60rem;
    margin: auto;
    text-align: center;
}

nav {
    background-color: aliceblue;
    padding: 10px;
    display: block;
}

h1 {
    color: black;
}

main img {
    width: 150px;
    height: auto;
    border: 2px #000 solid;
    padding: 10px;
    box-shadow: 0 0 30px #000;
}

aside {
    width: 50%;
    margin: auto;
    border: 1px solid cornflowerblue;
    padding: 1rem;
    background-color: #eee;
    color: darkblue;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}